@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
  font-family: 'Syne Mono', monospace;
  background: linear-gradient(-45deg, #1e9b41, #a5d22d, #2d4196, #c30a28);
  background-size: 1000% 1000%;
  animation: rainbow 75s ease infinite;
  text-align: center;
  color: antiquewhite;
}

button {
  font-family: inherit;
  padding: 1rem;
  margin: 1rem;
  background: white;
  box-shadow: 0 0 5px #747474;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
